
# Ignore Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*.tfplan

# Ignore Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Ignore build artifacts
dist/
build/
builds/
packages/
instagrapi/
**/fetch_stock_data.zip
**/fetch-financial-data.zip
**/generate_sale_page.zip
**/app.zip
**/yahoo_fin.zip
**/packages.zip
**/requests.zip
**/requirements.zip
**/instagram.zip
**/instagrapi.zip
**/generate-img.zip
**/tf.plan


# White list
!terraform.tfvars.json